
body{
    background-image: url("https://cutewallpaper.org/21/black-hd-background-wallpaper/Stunning-Solid-Black-Background-Wallpaper-images-For-Free-.jpg");
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lora', serif;

}

div{
    background-color: whitesmoke;
    margin: 0px 150px 0px 150px;
}
/*Header*/

.fotoperfil{
    border-radius: 50%;
    width: 250px;
    height: auto;
    float: left;
    margin: 50px;
}
h1{
    text-align: right;
    padding: 150px 150px 140px 150px;
    font-size: 40pt;
    font-weight: 800;
    margin: 0px 50px 0px 0px;
}
nav{
    width: 250px;
    float: left;
    padding: 20px 60px 20px 20px;
}

/*Barra de navegación*/
.menu{
    list-style: none;
    line-height: 42px;
    padding-left: 1px;
    width: 250px;
}
.menu a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}
.menu a i{
    padding-right: 10px;
}
.menu li{
    border-left:solid rgba(0, 0, 0, 0.695) 3px ;
    padding-left: 20px;
    margin-bottom: 10px;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.menu li:hover {
    box-shadow: 250px 0 rgba(0, 0, 0, 0.2) inset;
}
.menu a:hover{
    margin-left: 10px;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}