
body{
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}
.container{
    background-color: whitesmoke;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}
/*Header*/
.Perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}
.fotoperfil{
    border-radius: 50%;
    width: 230px;
    height: auto;
    margin: 1em;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 60px;
    font-weight: 800;
    margin: 0px;
}
/*Fin header*/

/*Section*/
section{
    width: 100%;
}

/*Barra de navegación*/
nav{
    padding: 1em 2em;
}
.menu{
    list-style: none;
    line-height: 42px;
    padding-left: 1px;
    min-width: 250px;
}
.menu a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    border-left:solid rgba(0, 0, 0, 0.695) 3px ;
    padding-left: 20px;
    margin-bottom: 10px;
    --webkit-transition: all .4s;
    -o-transition: all .4s; 
    transition: all .4s;
}
.menu a i{
    padding-right: 10px;
}

.menu a:hover, .menu a.active{
    margin-left: 10px;
    box-shadow: 250px 0 rgba(0, 0, 0, 0.2) inset;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
/*Fin barra de navegación*/

/*Secciones*/

p{
    text-align: left;
    border: 2em;
}
.tabs{
    display: flex;
    align-items: flex-start;
}
.tabs .secciones{
    padding: 1em;
}

.tab-item{
    display: none;
}

.tab-item.active{display: block;}

/*Fin secciones*/ 

@media only screen 
  and (min-device-width: 279px) 
  and (max-device-width: 911px){
    .Perfil{
        display: block;
        text-align: center;
    }
    .fotoperfil{
        border-radius: 50%;
        width: 230px;
        height: auto;
        margin: 1em;
    }
    .tabs{flex-direction: column;}
    nav{
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .menu li{
        display: block;
        padding: 1em;
    }
    .menu li a{
        border: none;
        margin: 0;
        padding: 0 .5em;
        text-align: center;
        margin-bottom: 10px;
        --webkit-transition: all .4s;
        -o-transition: all .4s; 
        transition: all .4s;
    }
    .menu li a i{padding: 0;}
    .menu li a span{display: none;}

    .tabs .secciones{
        padding: 1em;
        width: auto;
    }
}

