
body{
    background-color: black;
    margin: 0px 150px 0px 150px;
    font-family: 'Lora', serif;
}
div{
    background-color: whitesmoke;
}
/*Header*/
.Perfil{
    position: absolut;
    top: 0;
}
.fotoperfil{
    border-radius: 50%;
    width: 230px;
    height: auto;
    float: left;
    margin: auto;
    max-width: 90%;
    padding: 30px 100px 30px 100px;
}
h1{
    text-align: center;
    padding: 100px 140px 140px 140px;
    font-size: 40pt;
    font-weight: 800;
    margin: 0px;
    border-bottom: 3px solid black;
}
/*Fin header*/

/*Section*/
/*Barra de navegación*/
nav{
    width: 250px;
    float: left;
    padding: 20px 60px 20px 20px;
    margin-bottom: 100vh;
}
.menu{
    list-style: none;
    line-height: 42px;
    padding-left: 1px;
    width: 250px;
}
.menu a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}
.menu a i{
    padding-right: 10px;
}
.menu li{
    border-left:solid rgba(0, 0, 0, 0.695) 3px ;
    padding-left: 20px;
    margin-bottom: 10px;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.menu li:hover {
    box-shadow: 250px 0 rgba(0, 0, 0, 0.2) inset;
}
.menu a:hover{
    margin-left: 10px;
    --webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
/*Fin barra de navegación*/

/*Secciones*/



